@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins', 'Times New Roman', Times, serif ;
    scroll-behavior: smooth;
    background-image: linear-gradient(60deg, #d8e4ec 0%, #7e74e8 100%);
}

a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Seção de apresentação */

#presentation{
    background-image: url(assets/paper2.webp);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#presentation h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

#presentation h1:nth-child(1){
    animation-delay: .8s;
}

#presentation h1:nth-child(2){
    animation-delay: 1.8s;
}
#presentation h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}
#presentation .cta{
    display: inline-block;
    padding: 10px 30px;
    color: #e8d826;
    background-color: transparent;
    border: 2px solid #e8d826;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .5s ease;
    transition-property: background-color, color;

}
#presentation .cta:hover{
    color: white;
    font-weight: 500;
    background-color: #e8d826;
}
#presentation h1 span{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: #e8d826;
}
#presentation h1:nth-child(1) span{
    animation-delay: .5s;
}
#presentation h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#presentation h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#presentation::after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    height:100%;
    width: 100%;
    background-color:black;
    opacity: 0.5;
    z-index: -1;
}


/* Seção de Portifólio */

#portfolio .portfolio{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

#portfolio .portfolio-header img{
    margin-top: 50px;
    margin-bottom: 10px;
    width: 500px;
}

/* Slides - Carrossel */

.slider {
    margin: 0 auto;
    width: 800px;
    height: 750px;
    overflow: hidden;
    border: 5px solid black;
    border-radius: 10px;
}

.slides {
    width: 400%;
    height: inherit;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 1s;
}

.slide .slide-info {
    width: 800px;
    height: 350px;
    background-image: linear-gradient(60deg, #c53b09 0%, #530350 100%);
    color: #FFF;
    padding: 20px 30px;
}

.slide-info h1{
    font-size: 30px;
}

.slide-info p {
    font-size: 20px;
    text-align: justify;
    padding-right: 15px;
}

.slide-info a{
    font-size: 30px;
    color: #FFF;
}

.slide-info a:not(:first-child) {
    margin-left: 50px;
}

.slide .slide-img {
    width: 800px;
    height: 60%;
    opacity: 0.7;   
    overflow: hidden;
}

#portfolio .slide-img:after {
    content: '';
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #acbfb7 0%, #f6ebdd 100%);
    opacity: 0.2;
}

#portfolio .slide-img img{
    transition: 0.5s ease transform;
}

#portfolio .slide:hover .slide-img img{
    transform: scale(1.1);
}



/* Navegação do carrossel */

.navigation-manual {    
    position: absolute;
    width: 800px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    box-shadow: 0px 0px 5px rgb(253, 249, 249);
    border: 3px solid rgb(11, 11, 69);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: rgb(11, 11, 69);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation div{
    border: 3px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}

.navigation {
    position: absolute;
    width: 800px;
    margin-top: 700px;
    display: flex;
    justify-content: center;
}

.navigation div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation .auto-btn1 {
    background-color: rgb(11, 11, 69);
}

#radio2:checked ~ .navigation .auto-btn2 {
    background-color: rgb(11, 11, 69);
}

#radio3:checked ~ .navigation .auto-btn3 {
    background-color: rgb(11, 11, 69);
}

#radio4:checked ~ .navigation .auto-btn4 {
    background-color: rgb(11, 11, 69);
}

/* Introdution */

#introdution {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

#introdution .introdution-container {
    margin: 30px;
    padding: 30px;
    text-align: center;
    background-color: #f6ebdd;
    font-size: 25px;
    width: 800px;
    align-items: center;
}

#introdution .text-introdution p{
    padding: 25px 10px;
    font-size: 20px;
}

/* Footer (medias sociais e btn back to top)*/
footer h2 {
    font-size: 26px;
}
footer .medias-sociais {
    text-align: center; 
 }
 
 footer .medias-sociais a i {
     font-size: 50px;
     margin: 10px;
     transition: 0.3s;
 }
 
 footer .medias-sociais a i:hover {
     transform: translateY(-8px);
 }
 
 footer .btn-back-top a i{
     text-decoration: none; 
     color: #030303; 
     font-size: 36px;     
     margin: 30px 50px;    
 }
 

 
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: #e8d826;
        font-weight: 500px;
    }
}

@keyframes text_reveal_box{
    50%{
        width:100%;
        left:0;
    }
    100%{
        width: 0;
        left:100%
    }
}


/* Media Querys */
@media only screen and (max-width: 426px) {   
    
    #portfolio .portfolio-header img{
        width: 300px;  
        margin-top: 0;   
    }

    #portfolio .portfolio{
        padding: 0;
        margin-top: 0px;
    }
    
    .slider {        
        width: 300px;
        height: 400px;        
        border-radius: 8px;
    }       
    
    .slide .slide-info {
        padding: 10px;
        width: 300px;
        height: 55%;       
    }
    
    .slide .slide-info h1 {
        font-size: 14px;
    }

    .slide .slide-info h2 {
        font-size: 10px;
    }

    .slide .slide-info p {
        line-height: 1.2;
        font-size: 10px;
        text-align: justify;
        padding-right: 10px;
    }

    .slide .slide-info a {
        font-size: 14px;
        color: #FFF;
    }

    .slide-info a:not(:first-child) {
        margin-left: 10px;
    }

    .slide .slide-img {
        width: 300px;
        height: 200px;
    }

    .navigation-manual {
        width: 300px;
    }
            
    .navigation {       
        width: 300px;
        margin-top: 350px;        
    }

    #introdution .introdution-container {
        margin: 0px;
        padding: 5px;
        text-align: center;
        background-color: #f6ebdd;
        font-size: 15px;
    }    
    #introdution .text-introdution p{
        padding: 10px;
        font-size: 12px;
    }

    footer h2 {
        font-size: 16px;
        padding: 30px;
    }

    footer .btn-back-top{
        text-align: center;
        margin: 0;
    } 
}

@media only screen and (max-width: 769px) {
    .slider {        
        width: 600px;
        height: 500px;        
        border-radius: 8px;
    }       
    
    .slide .slide-info {
        padding: 10px 20px;
        width: 600px;
        height: 50%;       
    }
    
    .slide .slide-info h1 {
        font-size: 26px;
    }

    .slide .slide-info h2 {
        font-size: 16px;
    }

    .slide .slide-info p {
        line-height: 1.2;
        font-size: 14px;
        text-align: justify;
        padding-right: 10px;
    }

    .slide .slide-info a {
        font-size: 24px;
    }    

    .slide .slide-img {
        width: 600px;
        height: 300px;
    }

    .navigation-manual {
        width: 600px;
    }
            
    .navigation {       
        width: 600px;
        margin-top: 450px;        
    }

    footer h2 {
        font-size: 26px;
    }

}

/*

.carousel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 750px;
    width: 650px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);    
}

.btn {
    font-size: 50px;
    margin: 50px;
    color: #101012;
}

.btn:hover {
    transition: 0.6s ease;
    color: #d5c8c8;
}

.slider .img-item {    
    height: 350px;
    opacity: 0.7;   
    overflow: hidden;
    position: relative;
}

.slider img::after {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #acbfb7 0%, #f6ebdd 100%);
    opacity: 0.2;
}

.slider img {
    transition: 0.6s ease transform;
}

.slider:hover img {
    transform: scale(1.2);
}

.img-info h1, .img-info p, .img-info h2, .img-info a{
    padding: 10px;
    color: #f0f0f0;
}

.img-info a {
    font-size: 35px;
}

.img-info {
    height: 300px;
    width: 650px;
    background-image: linear-gradient(60deg, #a13905 0%, #2e013c 100%);
    align-items: center;
    position: relative;
    text-align: center;
    padding: 20px;
}

#portfolio .portfolio{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

#portfolio .portfolio-header img{
    margin-top: 50px;
    margin-bottom: 90px;
    width: 500px;
}

#portfolio .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#portfolio .slider{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#portfolio .img-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #882f03 0%, #3f264d 100%);
    color: white;
}

#portfolio .img-info h1{
    font-size: 4rem;
    font-weight: 500px;
}

#portfolio .img-info h2{
    font-size: 1.8rem;
    font-weight: 500px;
    margin-top: 10px;
}

#portfolio .img-item {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#portfolio .img-info a{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
 
#portfolio .img-item:after {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #acbfb7 0%, #f6ebdd 100%);
    opacity: 0.2;
}
#portfolio .project-img img{
    transition: 0.5s ease transform;
}
#portfolio .project-item:hover .project-img img{
    transform: scale(1.1);
}

#portfolio .project-item .links a{
    padding: 10px;
    font-size: 30px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-color: rgb(126, 126, 122);
}

*/